/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* ============================================== */

html {
  background: url(background.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  box-sizing: border-box;
}

h1 {
	color: #3d383e;
  position: relative;
  font-size: 56px;
  font-weight: bold;
  margin: 60px auto 10px auto;
  text-align: center;
}

h6 {
	color: #3d383e;
  position: relative;
  font-size: 24px;
  margin: 0 auto 100px auto;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-gap: 15px;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.giftbox {
  align-content: center;
	background-size: contain;
	background-repeat: no-repeat;
  display: grid;
  font-weight: bold;
  height: 150px;
  width: 150px;
}

.g01 {
	background-image: url(./gift-boxes/01.png);
}

.g02 {
	background-image: url(./gift-boxes/02.png);
}

.g03 {
	background-image: url(./gift-boxes/03.png);
}

.g04 {
	background-image: url(./gift-boxes/04.png);
}

.g05 {
	background-image: url(./gift-boxes/03.png);
}

.g06 {
	background-image: url(./gift-boxes/06.png);
}

.g07 {
	background-image: url(./gift-boxes/07.png);
}

.g08 {
	background-image: url(./gift-boxes/08.png);
}

.g09 {
	background-image: url(./gift-boxes/09.png);
}

.g10 {
	background-image: url(./gift-boxes/10.png);
}

.g11 {
	background-image: url(./gift-boxes/11.png);
}

.g12 {
	background-image: url(./gift-boxes/12.png);
}

a:hover,
.giftbox:hover {
  cursor: pointer;
}

.giftbox:active,
.heart-link:active {
  transform: translateY(4px);
}

p {
	color: rgba(211,166,224,.65);
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
	color: #3d383e;
	text-decoration: none;
}

img.b-day-cake {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	position: relative;
	height: 500px;
}

h5 {
	background: #3ea1bb;
	border: 3px solid rgb(44,138,150);
	border-radius: 5px;
	bottom: 40px;
	height: 27px;
	font-size: 24px;
	position: absolute;
	left: 160px;
	color: white;
}

/* DAY 2 and 5------------------------------------------------------- */

.dog-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
}

.dog-container img {
	border: 2px solid #3d383e;
	border-radius: 10%;
	height: 180px;
	margin: 5px;
	transition: transform .5s ease;
	width: auto;
}

.dog-container img:hover {
opacity: 0.7;
}

.dog-container img:active {
	transform: scale(3);
	opacity: 1;
}

/* DAY 3------------------------------------------------ */

#game {
	margin-bottom: 80px;
}

/* DAY 4--------------------------------------------------------------- */

#heather {
	margin-top: 50px;
}

strong {
	font-weight: bold;
}

/* DAY 7----------------------------------------------------------------- */

.heart-link {
	position: relative;
	margin: 0 auto;
	width: 500px;
}

/* DAY 8--------------------------------------------------------------- */

.vid-wrapper {
	margin: 100px auto 100px auto;
	position: relative;
	width: 560px;
}

/* DAY 9------------------------------------------------------------- */

.gallery {
	height: 70%;
}
